input{
  border-style: none;
  height: 30px;
  width: 300px;
  border-radius: 7px;
  border: 1.5px solid rgba(135,206,150,0.5);

}

label{
  font-family: Arial, Helvetica, sans-serif;
}
form{
  position: absolute;
  left: 40px;
  top: 100px;
}

fieldset{
  padding: 20px;
  font-family: cursive, sans-serif;
}

legend{
  padding-left: 15px;
  padding-right: 15px;
}

button{
  border-style: none;
  border: 1.5px solid gray;
  border-radius: 5px;
  border-color: gray;
  background-color: gray;
  color: white;
  width: 100px;
  height: 30px;
}
button:hover{

  background-color: white;
  color: black;
}
a{
  text-decoration: none;
  color: inherit;
}
